<h2 class="ml-5 mt-2 text-primary">スペース一覧</h2>
<div class="wrapper">
    <div id='map'></div>
    <div class="right">
      <h3 class="text-center mb-2">物件一覧</h3>

      <%= search_form_for @q do |f| %>
        <div class="form-group">
        <%= f.label :city_cont, "市町村を検索してください",class:"form-control" %>
        <%= f.search_field :city_cont, class:"form-control" %>
        <%= f.submit "検索する", class:"btn btn-primary mb-5" %>
        </div>
      <% end %>

      <%= paginate @spaces %>
      <% @spaces.each do |space| %>
      <ul class="list-group all-space">
       <div class="list-group-item one-space list-group-item-action mb-2">
        <p>名前: <%= link_to space.name, space_path(space) %></p>
        <p>価格: <%= space.price %></p>
        <p>最寄駅: <%= space.station %></p>
        </div>
      <% end %>
      </ul>

      <%= paginate @spaces %>
    </div>
    </div>
</div>
<style>
#map{
  height: 600px;
  width: 800px;
}
</style>
<script>
function initMap(){
  let map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 35.6503154, lng: 139.7063833},
  zoom: 10
  });

        <% @spaces.each do |space| %>
          (function(){
          var contentString = "<%= space.name %>"; 
          var markerLatLng = new google.maps.LatLng({lat: <%= space.latitude %>, lng: <%= space.longitude %>});

          var marker = new google.maps.Marker({
              position: markerLatLng,
              map: map,
          });
                var infowindow = new google.maps.InfoWindow({
                position: markerLatLng,
                content: contentString
              })

              marker.addListener('click', function() {
                infowindow.open(map, marker);
              });

          })();
      <% end %>

  
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAP_API"]%>&callback=initMap" async defer></script>