- content_for(:title, '掲載ページ')
%h2.text-center.mt-2 スペースの掲載
= form_with(model: @space, local: true, class:"form-horizontal") do |f|
  - if @space.errors.any?
    = render 'application/errors', model: f.object
  .form-group
    = f.label :name, "物件名を入力して下さい"
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :price, "1時間あたりの価格を入力して下さい"
    = f.text_field :price, class: 'form-control'
  .form-group 
    = f.label :pref,"都道府県を入力して下さい"
    = f.text_field :pref, class: 'form-control'
  .form-group  
    = f.label :city,"都市名を入力してください"
    = f.text_field :city,placeholder: "例）目黒区1丁目1-1", class: 'form-control'
  .form-group
    = f.label :detailaddress,"建物名以下を入力してください"
    = f.text_field :detailaddress,placeholder: "例) ooビル", class: 'form-control'
  .form-group
    = f.label :tel,"電話番号を入力してください"
    = f.text_field :tel,placeholder: "例）090111111", class: 'form-control'
  .form-group
    = f.label :seat,"シート数を入力してください"
    = f.text_field :seat, class: 'form-control'
  .form-group
    = f.label :station,"駅名を入力してください"
    = f.text_field :station, class: 'form-control'
  .form-group
    = f.label :station_walk,"駅から徒歩何分で着くか入力して下さい"
    = f.text_field :station_walk, class: 'form-control'
  .form-group
    = f.label :description,"詳細な説明を入力してください"
    = f.text_area :description, class: 'form-control',row:30, col:10
  .form-group
    = f.label :image
    = f.file_field :image
  = f.submit "登録する", data: { disable_with: "送信中..." } ,class:"btn btn-primary"