- content_for(:title, @space.name)
%h1.text-center= @space.name

%p.ml-5
  = link_to  @space.pref , "#"
  ＞#{link_to @space.station, "#"}＞#{link_to  @space.name, "#"}

%div.flex.ml-5
  %table.table
    %thead
      %tr
        %th{:scope => "col"} #
        %th{:scope => "col"}= @space.name

    %tbody
      %tr
        %th{:scope => "row"} 都道府県
        %td= @space.pref
      
      %tr
        %th{:scope => "row"} 価格
        %td= @space.price.to_i

      %tr
        %th{:scope => "row"} 住所
        %td= @space.city

      %tr
        %th{:scope => "row"} 最寄駅
        %td= @space.station

      %tr
        %th{:scope => "row"} 駅から徒歩
        %td= @space.station_walk

      %tr
        %th{:scope => "row"} 説明
        %td= @space.description

      %tr
        %th{:scope => "row"} 登録日
        %td= @space.created_at

- if current_user == @space.user
  =link_to "情報を更新する", edit_space_path(@space), class:"btn btn-primary ml-5"
  =link_to "掲載を削除する", space_path(@space),method: :delete,  class:"btn btn-danger ml-2",data:{confirm:"この掲載を削除しますよろしいですか？"}


%h4.text-center 
  =link_to "予約する",new_space_payment_path(@space),class:"btn btn-primary ml-5"

%div.mt-5.ml-5
  %h5 お気に入り数"#{@likes.count}"
  - if current_user.likes.where(space_id: params[:id]).first
    =link_to "お気に入り解除", space_like_path(@space), method: :delete ,class:"btn btn-danger" , data:{confirm: "お気に入り登録を解除しても良いですか？"}
  - else 
    =link_to "お気に入り", space_likes_path(@space),method: :post, class:"btn btn-primary"

%div.mt-5.ml-5
  %h4 コメント

  .row
    .col-md-6.col-md-offset-3.mb-3
      = form_with(model: @comment,url: space_comments_path(@space) ,method: :post, local: true) do |f|
        = f.label :content
        = f.text_field :content, class: 'form-control'
        = f.submit class:"btn btn-primary"

  - @comments.each do |comment|
    %h5= comment.content
    %h6= comment.user.name
    = comment.created_at


  