%h1.text-center ユーザー一覧画面

%table.table
  %thead
  %tbody
    - @users.each do |user|
      %tr 
        %td= user.id
        %td= user.name
        %td= user.email
        %td= link_to "詳細", "/user/#{user.id}/"

= paginate @users

= link_to "ユーザー情報をダウンロード", admin_user_path(format: :csv), class: "btn btn-primary"

