%h3.text-center お気に入り一覧
- @likes.each do |like|
  .card.mb-2
    .card-body
      %span.card-text= "スペース名: #{like.space.name}"
      %span.card-text.ml-3= "最寄駅: #{like.space.station}駅"
      %span.card-text.ml-3= "１時間あたりの価格#{like.space.price}円"
      %span.card-text.ml-3= link_to "詳細",space_path(like.space)
