%h1.text-center anther way 管理画面

= link_to "ユーザー検索", admin_user_path, class:"btn btn-danger"
= link_to "トランザクション一覧", admin_payment_path, class:"btn btn-success"
= link_to "スペース検索", admin_space_path, class:"btn btn-warning"
%br
= link_to "コメント一覧", admin_comment_path, class:"btn btn-info"
= link_to "フィードバック一覧", admin_fb_path, class:"btn btn-secondary"
