%h1.text-center anther way 管理画面

= link_to "ユーザー検索", "#", class:"btn btn-danger"
= link_to "予約検索", "#", class:"btn btn-success"
= link_to "スペース検索", "#", class:"btn btn-warning"
= link_to "コメント一覧", "#", class:"btn btn-info"
= link_to "フィードバック一覧", "#", class:"btn btn-secondary"
