%h3.text-center ユーザー情報の更新
.row
  .col-md-6.col-md-offset-3.ml-5
    = form_with(model: @user,method: :patch, url:"/profs/#{@current_user.id}",local: true) do |f|
      = f.label :name
      = f.text_field :name,:placeholder => "#{@current_user.name}", class: 'form-control'
      = f.label :tel
      = f.text_field :tel,:placeholder => "#{@current_user.tel}", class: 'form-control'
      = f.submit "送信する", class:"btn btn-primary"