.card.mb-2
  %h5.card-header 利用者ID
  .card-body
    %p.card-text= @user.id
.card.mb-2
  %h5.card-header 利用者名
  .card-body
    %p.card-text= @user.name
.card.mb-2
  %h5.card-header 電話番号
  .card-body
    %p.card-text= @user.tel if @user.tel
.card.mb-2
  %h5.card-header 登録日
  .card-body
    %p.card-text= @user.created_at.strftime('%Y/%m/%d')

= link_to "編集する", edit_prof_path(@user),class:"btn btn-primary"

%h4.text-center.mt-5 予約一覧
%ul.list-group.all-book
  - @payments.each do |pay|
    .list-group-item.one-book.list-group-item-action.mb-2
      %p
        名前: #{pay.placename}
      %p
        価格: #{pay.price}

%div
  = link_to "アプリの評価をする",  new_feedback_path, class:"btn btn-primary mt-5"
  = link_to "退会する",  resign_path, class:"btn btn-danger ml-1 mt-5"
