%h2 予約一覧
%table.table.table-striped.table-dark
  %thead
    %tr
      %th{:scope => "col"} #
      %th{:scope => "col"} name
      %th{:scope => "col"} place
      %th{:scope => "col"} created_at
      %th{:scope => "col"} 確認する

  %tbody
    - @payments.each do |pay|
      %tr
        %th{:scope => "row"}= pay.id
        %td= pay.placename
        %td= pay.price
        %td= pay.created_at
        %td= pay.id



= link_to "アプリの評価をする",  new_feedback_path, class:"btn btn-success"
